* {
  font-family: 'Poppins';
}

a.navbar-brand {
  font-size: 32px;
  font-weight: 600;
}

a.nav-link {
  font-size: 18px;
}

a.nav-link:first-of-type {
  margin-right: 55px;
}

.main {
  margin-top: 50px;
}